@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;800;900&display=swap");

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// CSS
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Lato", sans-serif;
}

:root {
  --text-main: #e7e9ea;
  --border-main: #2f3336;
  --background-main: #000000;
  --background-secondary: #181919;
  --background-blue-main: #202327;
  --background-blue-secondary: #16181c;
  --brandBlue: #1d9bf0;
}

body {
  background-color: var(--background-main);
  color: var(--text-main);
}

img {
  width: 100%;
  height: 100%;
}

.activeModal {
  background-color: #242d34 !important;
}

.verified {
  display: flex;
  align-items: end;
  justify-content: start;
  margin-left: 4px;
  img {
    width: 16px;
    height: 16px;
  }
}
